.features {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
  margin: 0 auto;
}

.feature {
  background: #eee;
  padding: 10px;
  border: 1px solid var(--clr-white);
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.feature .icon {
  font-size: 20px;
}

.feature p {
  color: #333;
}

.features a:hover {
  color: #fff;
  background: var(--clr-primary-3);
  transform: scaleY(1.1);
}

@media (max-width: 425px) {
  .features {
    margin: 0 auto;
  }
}
